{
  "regionName": "ACCSAF",
  "regionCodes": [ "FA", "FY", "FB", "FV", "FQ", "FD", "FX" ],
  "regionCenterPoint": [ -26.051257, 24.781342 ],
  "regionRadius": 1680,
  "alertLevelRegional": 3,
  "alertLevelInbound": 3,
  "alertLevelOutbound": 3,
  "alertLevelGrow": 3,
  "password": "Anypasswordhereforrestartsandotherfunctions",
  "notifyTelegram": false,
  "telegramGroupId": -123456789789,
  "telegramApi": "TELEGRAMTOKEN",
  "notifyDiscord": false,
  "discordToken": "DISCORDTOKEN",
  "discordChannel": 1234567890123
}